@import "../../../styles/partials/mixins";

.dashboard-wrapper {
  @include dashboard-wrapper();

  @include devices(large_tablet) {
    order: 3;
  }

  .dashboard-background {
    @include dashboard-background($tertiary-color);
    height: 100%;
    position: relative;

    @include devices(large_tablet) {
      padding-bottom: calc(162px + 5rem);
    }

    .content {
      > p {
        text-align: center;
      }

      .wishlist {
        padding: 2rem 1.5rem 5rem 1.5rem;
        margin-top: 3rem;
        border-radius: 5px;
        background-color: $white;
        border: 2px solid rgba(192, 178, 165, 0.46);
        box-shadow: 4px 4px 4.3px 0px rgba(192, 178, 165, 0.46);

        @include devices(large_tablet) {
          padding: 2rem 0.5rem 5rem 1.5rem;
        }

        ul {
          @include fluid-font(28px, 32px);
        }
      }

      form {
        display: flex;
        align-items: center;
        margin-top: 3rem;

        @include devices(large_tablet) {
          flex-direction: column;
        }

        input {
          @include default-input();
          margin: 0 1rem 0 0;
          flex: 1;

          @include devices(large_tablet) {
            width: 100%;
          }
        }

        .button {
          @include button();

          @include devices(large_tablet) {
            margin-top: 1rem;
          }
        }
      }
    }

    .reindeer-image {
      position: absolute;
      right: 25px;
      bottom: 0;
    }
  }
}
