@import "../../styles/partials/mixins";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 4rem;
  background-color: $primary-color;
  color: $white;

  @include devices(mobile) {
    padding: 1.5rem 1rem;
  }

  &-admin {
    background-color: $secondary-color;
  }

  .left-space {
    flex: 1;

    @include devices(large_tablet) {
      display: none;
    }
  }

  .title {
    text-align: center;
    flex: 2;

    h1 {
      text-transform: uppercase;

      @include devices(mobile) {
        font-size: 35px;
      }
    }

    span {
      display: block;
      @include fluid-font(30px, 40px);
    }
  }

  .menu {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    font-size: 15px;

    @include devices(large_tablet) {
      display: none;
    }

    .content {
      text-align: left;

      .user {
        display: flex;
        align-items: flex-end;
        margin-bottom: 0.5rem;

        .user-icon {
          @include user-icon();

          &-admin {
            background-color: $primary-color;
          }
        }

        // .user-name {
        //   @include link();
        // }
      }

      .log {
        @include link();
      }
    }
  }
}
