@import "../../../styles/partials/mixins";

.dialog {
  background: rgba(114, 114, 114, 0.57);

  .dialog-paper {
    background-color: $tertiary-color;
    border-radius: $border-radius;
    padding: 4rem;

    @include devices(large_tablet) {
      margin: 1rem;
      padding: 4rem 0;
    }

    .dialog-content-text {
      font-size: 20px;
      text-align: center;
      margin-bottom: 2rem;
      color: $black;

      @include devices(large_tablet) {
        width: 100%;
      }
    }

    input {
      @include default-input();
    }

    .dialog-input {
      margin-bottom: 1rem;
    }

    p,
    label {
      font-size: 13px;
    }

    .legals-link {
      text-decoration: underline;
    }

    .buttons {
      justify-content: center;

      .button {
        @include button();
      }

      .cancel-button {
        @include button($gray500);
      }
    }

    .admin-warning {
      margin: 1.5rem 0;
      border-radius: $border-radius;

      p {
        margin: 0;
        font-size: 13px;
        color: $black;
      }

      .copy-button {
        background-color: $secondary-color;
        color: white;
        padding: 0 1rem;
        font-size: 10px;

        &:hover {
          background-color: darken($secondary-color, 10%);
        }
      }
    }
  }
}
