@import "../../styles/partials/mixins";

.button-events {
  transition: background-color 0.3s ease-in-out;

  @media only screen and (min-width: $large_tablet) {
    @include button-events();
  }

  &:hover {
    background-color: $link-hover;
  }

  svg {
    transition: opacity 0.3s ease-in-out;
  }

  &[aria-expanded="true"] {
    svg {
      opacity: 0;
    }
  }
}

.menu-open-events {
  ul {
    background-color: $primary-color;
    color: $white;

    li {
      font-size: 16px;
    }
  }

  &-admin {
    ul {
      background-color: $admin-color;
    }
  }

  &-organizer {
    ul {
      background-color: $secondary-color;
    }
  }
}
