@import "../../../styles/partials/mixins";

.login-form-wrapper {
  display: flex;
  justify-content: center;
  padding: 13vh 0 35rem;

  @include devices(tablet) {
    width: 100%;
    padding: 13vh 0 5rem;
  }

  .login-form {
    display: flex;
    flex-direction: column;
    padding: 4rem 11rem;
    background-color: $tertiary-color;
    border-radius: $border-radius;

    @include devices(tablet) {
      padding: 4rem;
      width: 100%;
      max-width: 45rem;
      margin: 0 1rem;
    }

    .text {
      text-align: center;

      h2 {
        margin-bottom: 1rem;
      }
    }

    form {
      display: flex;
      flex-direction: column;
      align-items: center;

      .hidden {
        position: absolute;
        left: -9999px;
        top: auto;
        width: 1px;
        height: 1px;
        overflow: hidden;
      }

      .form-group {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 4rem 0;

        input {
          @include default-input();
        }

        .forgot-password {
          margin: 0 0 1.5rem 0.5rem;
          font-size: 12px;
          color: $gray500;
          cursor: pointer;
        }

        .cancel-password {
          margin: 2rem 0 1.5rem 0;
          font-size: 14px;
          text-align: center;
          color: $gray500;
          cursor: pointer;
        }

        .error-message {
          @include error-message();
        }
      }

      .button {
        @include button();
      }
    }

    .confirm-password {
      display: flex;
      flex-direction: column;
      align-items: center;

      .text {
        text-align: center;
      }

      .button {
        @include button();
        margin-top: 3rem;
      }
    }
  }
}
