@import "../../styles/partials/mixins";

.footer {
  padding: 1rem 4rem;
  text-align: center;
  background-color: $primary-color;
  color: $white;
  font-size: 12px;

  &-admin {
    background-color: $secondary-color;
  }

  .menu-desktop {
    .admin {
      margin: 1rem 0;

      a {
        @include link();
      }
    }
  }

  .menu-mobile {
    display: none;

    @include devices(large_tablet) {
      display: block;
      margin: 3rem 0 4rem;
      font-size: 15px;
    }

    .menu-events-mobile {
      padding: 0 0 4rem 0;
    }
  }
}
