@import "./variables";
@import "./functions";

// ----- MEDIA QUERIES ----- //

@mixin devices($breakpoint) {
  @if $breakpoint == min_large_screen {
    @media only screen and (min-width: $min_large_screen) {
      @content;
    }
  }

  @if $breakpoint == desktop {
    @media only screen and (max-width: $desktop) {
      @content;
    }
  }

  @if $breakpoint == laptop {
    @media only screen and (max-width: $laptop) {
      @content;
    }
  }

  @if $breakpoint == large_tablet {
    @media only screen and (max-width: $large_tablet) {
      @content;
    }
  }

  @if $breakpoint == tablet {
    @media only screen and (max-width: $tablet) {
      @content;
    }
  }

  @if $breakpoint == mobile {
    @media only screen and (max-width: $mobile) {
      @content;
    }
  }
}

// ----- SIZES ----- //

@mixin fluid-font($min-font-size, $max-font-size, $min-vw: $mobile, $max-vw: $desktop) {
  // Source : https://gist.github.com/mvsde/7c66cdde4308ed155f53f7002433254c
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      font-size: $min-font-size;

      @media (min-width: $min-vw) {
        font-size: calc(
          #{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)})
        );
      }

      @media (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}

@mixin size($width: 100%, $height: $width) {
  width: $width;
  height: $height;
}

// ----- PSEUDO ELEMENTS ----- //

@mixin before($width: 1rem, $height: $width) {
  &:before {
    content: "";
    width: $width;
    height: $height;

    @content;
  }
}

@mixin after($width: 1rem, $height: $width) {
  &:after {
    content: "";
    width: $width;
    height: $height;

    @content;
  }
}

// ----- COMPONENTS ----- //

@mixin button() {
  display: inline-block;
  position: relative;
  overflow: hidden;
  padding: 1.3rem 2.4rem;
  border-radius: 4px;
  border: none;
  background: $primary-color;
  color: $white;
  text-decoration: none;
  text-align: center;
  line-height: 1;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    background: $dark-primary;
  }

  &:disabled {
    background: $gray500;
    cursor: not-allowed;
  }
}

@mixin dashboard-wrapper() {
  display: inline-block;
  padding: 4rem;
  width: 50%;

  @include devices(large_tablet) {
    display: block;
    padding: 0;
    width: 100%;
  }
}

@mixin dashboard-background($color) {
  padding: 6rem 5rem;
  border-radius: 15px;
  background-color: $color;

  @include devices(large_tablet) {
    padding: 6rem 3rem;
  }
}

@mixin default-input() {
  padding: 1rem;
  border: none;
  border-radius: 4px;
  font-family: inherit;
  font-size: 16px;
  margin: 1rem 0;

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    -webkit-background-clip: text;
    -webkit-text-fill-color: $black;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px $gray200;
  }

  &:focus-visible {
    outline: none;
    outline: 1px solid $accent-color;
  }

  &::placeholder {
    opacity: 0.7;
    color: $gray500;
    font-weight: 300;
  }
}
