//////////////////////
// Colors
//////////////////////

$black: #000;
$white: #fff;

$primary-color: #d63638;
$secondary-color: #53af84;
$tertiary-color: #fceee0;
$dark-primary: #be272c;
$dark-secondary: #4a7a58;
$dark-tertiary: #efddcb;
$light-secondary: #ebf7f1;
$medium-secondary: #d4f1e3;

$accent-color: #3e36d6;
$cta-color: $primary-color;
$background-color: $white;

$overlay-color: rgba(255, 255, 255, 0.57);
$link-hover: #ffffff36;

$gray200: #f7f9fa;
$gray500: #606060;
$gray800: black;

//////////////////////
// Sizes
//////////////////////

$max-width: 150rem;
$border-radius: 15px;
$santa-height: 301px;
$reindeer-height: 162px;

// Fonts sizes
$font-size-h1: 50px;
$font-size-h2: 40px;
$font-size-h3: 30px;
$font-size-body: 20px;

// Screen sizes
$min_large_screen: 1500px;
$desktop: 1499px;
$laptop: 1269px;
$large_tablet: 1023px;
$tablet: 767px;
$mobile: 479px;

//////////////////////
// Header / Footer
//////////////////////

$header-desktop-height: 12rem;
$footer-desktop-height: 4.8rem;
// $menu-mobile-height: 6.5rem;
