@import "../../styles/partials/mixins";

.content {
  text-align: left;

  @include devices(large_tablet) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .user {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    padding: 0 0.9rem;

    @include devices(large_tablet) {
      justify-content: center;
    }

    .user-icon {
      @include user-icon();
    }
  }

  .log {
    @include link();
  }
}
