@import "../../../styles/partials/mixins";

.gift-item {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  border-radius: 5px;
  cursor: default;

  &:hover,
  &:focus-within {
    background-color: $gray200;

    .icons {
      opacity: 1;
    }
  }

  input {
    @include default-input();
  }

  .icons {
    @include edit-buttons();
  }
}
