@import "../../../styles/partials/mixins";

.dashboard-wrapper {
  @include dashboard-wrapper();

  @include devices(large_tablet) {
    order: 1;
  }

  .dashboard-background {
    @include dashboard-background($light-secondary);

    .title {
      display: flex;
      flex-direction: column;
      align-items: center;

      .name {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem;
        margin: 2rem 0 6rem;
        min-width: 25rem;
        border-radius: 10px;
        background-color: $secondary-color;
        color: $white;
        text-align: center;
        font-size: 40px;
      }
    }

    .giftee-list {
      padding: 2rem 2rem 10rem 2rem;
      margin-top: 3rem;
      border-radius: 5px;
      background-color: $medium-secondary;
      border: 2px solid $secondary-color;
      box-shadow: 4px 4px 4.3px 0px rgba(74, 122, 88, 0.21);

      ul {
        @include fluid-font(28px, 32px);
      }

      .no-gift {
        @include fluid-font(28px, 32px);
        text-align: center;
        color: $gray500;
      }
    }

    .error-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: $gray500;

      a {
        @include button();
        margin-top: 2rem;
      }
    }
  }
}
