@import "../../styles/partials/mixins";

.dialog {
  background: rgba(114, 114, 114, 0.57);

  .dialog-paper {
    background-color: $tertiary-color;
    border-radius: $border-radius;
    padding: 4rem;

    @include devices(large_tablet) {
      margin: 1rem;
      padding: 4rem 0;
    }

    .dialog-title {
      font-size: 24px;
    }

    .dialog-content-text {
      font-size: 14px;
      color: $black;
      margin-bottom: 1rem;

      @include devices(large_tablet) {
        width: 100%;
      }
    }

    input {
      @include default-input();
    }

    .read-only-field input {
      background-color: #f0f0f0;
      color: #888;
      pointer-events: none;
    }

    p,
    label {
      font-size: 13px;
    }

    .delete-button {
      font-size: 12px;
    }

    .buttons {
      justify-content: center;
      margin-top: 3rem;

      .confirm-button {
        @include button();
      }

      .cancel-button {
        @include button($gray500);
      }
    }
  }
}
