@import "../../../styles/partials/mixins";

.dialog {
  background: rgba(114, 114, 114, 0.57);

  .dialog-paper {
    background-color: $tertiary-color;
    border-radius: $border-radius;
    padding: 7rem 6rem;

    @include devices(large_tablet) {
      margin: 1rem;
      padding: 4rem 0;
    }

    .dialog-content-text {
      @include fluid-font(20px, $font-size-body);
      width: 30rem;
      text-align: center;
      color: $black;

      @include devices(large_tablet) {
        width: 100%;
      }
    }

    input {
      @include default-input();
    }

    p {
      font-size: 13px;
    }

    .confirm-button {
      @include button();
    }

    .cancel-button {
      @include button($gray500);
    }
  }
}
